.product-slider {
  width: 100%;
  overflow: hidden;
}

.product-container {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

.product {
  width: 10%;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px;
}
